.mastfoot{
  color: rgb(185, 68, 68);
  font-size: 20px;
  text-align: center;

  i{
    margin: 0px 5px;
    font-size: 15px;
  }

  .first{
    color: rgb(139, 204, 224);
  }

  .middle{
    font-size: 9px;
    line-height: 12px;
    vertical-align: middle;
    color: white;
  }
}
